.end-5 {
  position: absolute;
  right: 5%;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.start-5 {
  position: absolute;
  left: 5%;
}

.social-icon a {
  color: black !important;
  text-decoration: none;
}

.bottom-10 {
  position: absolute;
  bottom: 10%;
}
